* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #fff;
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/*----------Global Styles--------*/

.navbar a {
  color: #fff !important;
  font-weight: 500;
  font-size: 20px;
}
.img-responsive {
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.searching,
#list {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  margin-top: 200px;
}
/* .dropdown {
  display: flex;
  justify-content: center ;
  height: 10vh;
  align-items: center;
  margin: auto;
  font-size: 1.5em;
  font-weight: bold;
} */

form {
  font-size: 20px;
  font-weight: 700;
}
button {
  background-color: #1dbf73;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}

/* #rect {
  display: flex;
  justify-content: left;
  margin: 20px;
} */
