* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #fff;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/*----------Global Styles--------*/




.navbar a {
  color: #fff !important;
  font-weight: 500;
  font-size: 20px;
}
.img-responsive {
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.searching {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
form{
  font-size: 30px;
  font-weight: 700;
}
button{
  background-color: #1dbf73;
  color: #fff;
  border-radius: 0.25rem;
}
 